h1 {
    text-align: left;
}
body{
    padding:20px;
    /* using hsla colors.  equates to rgba, but is easier to fine tune colors
       if you think in terms of rotating around the color wheel clockwise,
       which adjusts the hue, the "h" in hsla.
       See http://www.workwithcolor.com/hsl-color-picker-01.htm for a good visual
       representation.
       see http://www.w3schools.com/cssref/css_colors_legal.asp for a comparison
       to rgb and others.
       */
    background: linear-gradient( hsla(170,90%,45%,.25), hsla(0,100%,100%,1));
}

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */

/* use of bootstrap requires keeping the MIT license in .css or .js files
The MIT License (MIT)

Copyright (c) 2011-2015 Twitter, Inc

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
